.header {
  &__wrapper {
    position: fixed;
    width: 100%;
    padding: 18px 0;
    width: 50%;
  }
  &__logo__wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
  }
  &__logo__headline {
    color: #e6e6e6;
    font-family: $font-montserrat-regular;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    &__position {
      padding-left: 12px;
      padding-right: 50px;
    }
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 950px) {
  .header__logo__headline {
    color: #757575;
  }
}