@font-face {
  font-family: 'Amsdam';
  src: url('../fonts/Amsdam-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CrimsonText-Italic';
  src: url('../fonts/CrimsonText-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'CrimsonText-Roman';
  src: url('../fonts/crimsontext-roman.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
$font-amsdam:  'Amsdam', sans-serif;
$font-crimson:'CrimsonText-Italic', serif;
$font-crimson-roman: 'CrimsonText-Roman', serif;
$font-montserrat-bold:'Montserrat-Bold', sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', sans-serif;
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
.button {
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  color: #ffffff;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.section-headline {
  padding: 60px 10px 40px;
  text-align: center;
  font-family: 'amsdam',sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  &--dark {
    padding: 0 0 10px 0;
    color: #3e3d3d;
  }
  &--white {
    padding: 0 0 10px 0;
    color: #fff;
  }
}