@import "reset";
@import "variables";
@import "slick-slider/slick";
@import "header/slicknav";
@import "header/header";
@import "header/navigation";
@import "homepage/top-section";
@import "homepage/about-us";
@import "homepage/services";
@import "homepage/history-section";
@import "homepage/team-section";
@import "homepage/portfolio-section";
@import "homepage/prices-section";
@import "homepage/looking-section";
@import "homepage/blog-section";
@import "homepage/cliens-section";
@import "homepage/testimonials-section";
@import "homepage/map-section";
@import "contacts-section/contacts-section";
@import "blog-with-sidebar/top-section";
@import "blog-with-sidebar/main-content";
@import "sidebar/sidebar";