.blog-with-sidebar__content {
  &__wrapper {
    background-color: #e3e3e3;
    padding: 80px 0;
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.blog-with-sidebar__content__main {
  &__wrapper {
    width: 100%;
    max-width: 820px;
  }
  &__article{
    margin-bottom: 50px;
    &__info {
      margin: 20px 0 25px;
      padding: 12px 0;
      display: flex;
      flex-direction: row;
      border-width: 1px 0 1px;
      border-style: solid;
      border-color: #b7b7b7;
      list-style: none;
      color: #818181;
      font-family: 'CrimsonText-Italic', serif;
      font-size: 14px;
      i {
        margin: 0 5px;
      }
    }
  }
  &__image-wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__headline {
    margin: 40px 0 10px;
    color: #3e3d3d;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__post-time {
    color: #3e3d3d;
    font-family: 'CrimsonText-Italic', serif;
    font-size: 14px;
  }
  &__paragraph {
    color: #3e3d3d;
    font-family: 'CrimsonText-Roman', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  &__button {
    margin-top: 25px;
    border: 2px solid #3e3d3d;
    color: #3e3d3d;
    transition: 0.3s;
    &:hover {
      background-color: #3e3d3d;
      color: #fff;
    }
  }
  &__bottom-divider {
    border-top: 1px solid #3e3d3d;
  }
  &__bottom-buttons {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;
    }
    &__button {
      margin: 70px 3px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 38px;
      height: 38px;
      text-decoration: none;
      border: 1px solid #3e3d3d;
      color: #3e3d3d;
      font-family: 'CrimsonText-Italic', serif;
      font-size: 14px;
      transition: 0.3s;
      &:hover {
        background-color: #3e3d3d;
        color: #fff;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .blog-with-sidebar__content__container {
    flex-flow: row nowrap;
  }
  .blog-with-sidebar__content__main__wrapper {
    margin-right: 25px;
  }
}